<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/themes/dark-unica.js"></script>

    <style type="text/css" media="screen">
            body {
                background-color: #3e3e40;
            }

            table{
                color: #ffffff;
                display: block;
                overflow-x: auto;
                white-space: nowrap;
                border-collapse:collapse;
                border:1px solid #39CCCC;
            }

            table td{
                border:1px solid #39CCCC;
                height:450px;
                width:500px;
            }
            table td.x{
                width:50px;
            }

    </style>
</head>
<body>
    <div id="container" style="height: 1000px">

    </div>
</body>
<script>
    var showShareChart = function(container_id, data){
        // split the data set into ohlc and volume
        var ohlc = [],
        ohlc_50 = [],
        vol_popular = [],
        vol_others = [],
        dataLength = data.length,
        // set the allowed units for data grouping
        groupingUnits = [[
                'week',                         // unit name
                [1]                             // allowed multiples
            ], [
                'month',
                [1]
            ]],
        i = 0;

        // ["milliseconds", "others", "popular"]
        // ["c", "d", "h", "l", "milliseconds", "o", "trade_date", "v"]
        for (i; i < dataLength; i += 1) {
            ohlc.push([
                parseInt(data[i][0]), // the date
                parseFloat(data[i][1]), // open
                parseFloat(data[i][1]), // high
                parseFloat(data[i][1]), // low
                parseFloat(data[i][1]) // close
            ]);

            vol_popular.push([
                parseInt(data[i][0]), // the date
                parseFloat(data[i][1]) // the volume
            ]);

            vol_others.push([
                parseInt(data[i][0]), // the date
                parseFloat(data[i][2]) // the volume
            ]);
        }

        console.log(ohlc);
        console.log(vol_popular);
        // create the chart
        Highcharts.stockChart(container_id, {
            plotOptions: {
                candlestick: {
                    // shared options for all candlestick series
                    color: '#2ECC40',
                    lineColor: '#2ECC40',
                    upColor: '#FF4136',
                    upLineColor: '#FF4136',
                    lineWidth: 1
                },
                column: {
                    stacking: 'normal'
                }
            },
            rangeSelector: {
                enabled: false
            },

            title: {
                text: 'ETF',
                style: {
                    fontSize: '12px'
                }
            },

            xAxis: {
                type: 'datetime',
                range: 360 * 24 * 3600 * 1000 // one year
            },

            yAxis: [{
                labels: {
                    align: 'right',
                    x: -3

                },
                title: {
                    text: ''
                },
                height: '50%',
                lineWidth: 2,
                resize: {
                    enabled: true
                }
            }, {
                labels: {
                    align: 'right',
                    x: -3

                },
                title: {
                    text: ''
                },
                top: '50%',
                height: '50%',
                offset: 0,
                lineWidth: 2
            }],

            tooltip: {
                split: true
            },

            series: [{
                type: 'candlestick',
                name: 'HS300',
                data: ohlc
            }, {
                type: 'column',
                name: 'ETF',
                data: vol_others,
                yAxis: 1
            }, {
                type: 'column',
                name: 'ETF',
                data: vol_popular,
                yAxis: 1
            }],

            scrollbar: {
                enabled: false
            },

            navigation: {
                buttonOptions: {
                    enabled: false
                }
            },

            navigator: {
                enabled: true
            }
        });
    }

    $(function () {
        $.ajaxSetup({
            timeout:180000 // in milliseconds
        });
        var share_url = location.protocol + '//' + location.hostname +
            (location.port ? ':'+location.port: '') + '/money/share/';
        console.info(share_url);
        $.get(share_url, {}, function(share_data){
            index = share_data['index'];
            columns = share_data['columns'];
            console.log(columns);
            data = share_data['data'];
            showShareChart("container", data);

        }).fail(function( jqXHR, textStatus, errorThrown ) {
            console.error(jqXHR);
            console.error(textStatus);
            console.error(errorThrown );
        }).always(function() {
            console.log( "get share finished" );
        });
    });

</script>
</html>
